<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenhuadesert.oa.client.mapper.IClientMapper">
  
  <resultMap id="ClientMap" type="Client">
    <id property="cliid" column="CLIID"/>
    <result property="cliname" column="CLINAME"/>
    <result property="clisex" column="CLISEX"/>
    <result property="cliusername" column="CLIUSERNAME"/>
    <result property="clipassword" column="CLIPASSWORD"/>
    <result property="cliaddress" column="CLIADDRESS"/>
  </resultMap>
  
  <resultMap id="ClientWithGoodsMap" type="Client" extends="ClientMap">
    <collection property="goods" resultMap="com.wenhuadesert.oa.goods.mapper.IGoodsMapper.GoodsResultMap">
      <result property="cacount" column="CACOUNT"/>
    </collection>
  </resultMap>
  
  <insert id="insert" parameterType="Client" keyProperty="cliid"   keyColumn="CLIID"  useGeneratedKeys="true">
  insert into oa_client (CLIID, CLINAME, CLISEX, CLIUSERNAME, CLIPASSWORD, CLIADDRESS) VALUES (#{cliid},#{cliname},#{clisex},#{cliusername},#{clipassword},#{cliaddress})
  </insert>
  <update id="update">
  update oa_client set CLINAME = #{cliname},CLISEX=#{clisex}, CLIUSERNAME = #{cliusername}, CLIPASSWORD = #{clipassword}, CLIADDRESS=#{cliaddress} where CLIID = #{cliid}
  </update>
  <delete id="delete">
  delete from oa_client where CLIID = #{cliid}
  </delete>
  
  <select id="selectListByAll" resultMap="ClientMap">
  select * from oa_client
  </select>
  <select id="selectListByAllWithGoods" resultMap="ClientWithGoodsMap">
  select cli.*,ca.CACOUNT, go.* from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID
  </select>
  <select id="selectListByAllByCondition" resultMap="ClientMap">
  select * from oa_client
  <where >
    <if test="name!=null and name!=''">
    and CLINAME=#{cliname}
    </if>
    <if test="sex!=null and sex!=''">
    and CLISEX=#{clisex}
    </if>
    <if test="username!=null and username!=''">
    and CLIUSERNAME = #{cliusername}
    </if>
    <if test="password!=null and password!=''">
    and CLIPASSWORD = #{clipassword}
    </if>
    <if test="address!=null and address!=''">
    and CLIADDRESS=#{cliaddress}
    </if>
  </where>
  </select>
  <select id="selectListByAllByConditionWithGoods" resultMap="ClientWithGoodsMap">
  select cli.*,ca.CACOUNT, go.* from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID
  <where >
    <if test="name!=null and name!=''">
    and cli.CLINAME=#{cliname}
    </if>
    <if test="sex!=null and sex!=''">
    and cli.CLISEX=#{clisex}
    </if>
    <if test="username!=null and username!=''">
    and cli.CLIUSERNAME = #{cliusername}
    </if>
    <if test="password!=null and password!=''">
    and cli.CLIPASSWORD = #{clipassword}
    </if>
    <if test="address!=null and address!=''">
    and cli.CLIADDRESS=#{cliaddress}
    </if>
  </where>
  </select>
  <select id="selectListByAllWithPage" resultMap="ClientMap">
  select * from oa_client limit #{start}, #{rows}
  </select>
  <select id="selectListByAllByConditionWithPage" resultMap="ClientMap">
  select * from oa_client
  <where >
    <if test="name!=null and name!=''">
    and CLINAME=#{cliname}
    </if>
    <if test="sex!=null and sex!=''">
    and CLISEX=#{clisex}
    </if>
    <if test="username!=null and username!=''">
    and CLIUSERNAME = #{cliusername}
    </if>
    <if test="password!=null and password!=''">
    and CLIPASSWORD = #{password}
    </if>
    <if test="address!=null and address!=''">
    and CLIADDRESS=#{cliaddress}
    </if>
  </where>
  limit #{start}, #{rows}
  </select>
  <select id="selectListByAllWithGoodsWithPage" resultMap="ClientWithGoodsMap">
  select cli.*,ca.CACOUNT,  go.* from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID limit #{start}, #{rows}
  </select>
  <select id="selectListByAllByConditionWithGoodsWithPage" resultMap="ClientWithGoodsMap">
  select cli.*,ca.CACOUNT, go.* from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID
  <where >
    <if test="name!=null and name!=''">
    and cli.CLINAME=#{cliname}
    </if>
    <if test="sex!=null and sex!=''">
    and cli.CLISEX=#{clisex}
    </if>
    <if test="username!=null and username!=''">
    and cli.CLIUSERNAME = #{cliusername}
    </if>
    <if test="password!=null and password!=''">
    and cli.CLIPASSWORD = #{clipassword}
    </if>
    <if test="address!=null and address!=''">
    and cli.CLIADDRESS=#{cliaddress}
    </if>
  </where>
  limit #{start}, #{rows}
  </select>
  
  <select id="selectClientById" resultMap="ClientMap">
  select * from oa_client where CLIID = #{cliid}
  </select>
  <select id="selectCountByAll" resultType="_int">
  select count(*) from oa_client
  </select>
  <select id="selectCountByAllWithGoods" resultType="_int">
  select count(*) from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID
  </select>
  <select id="selectCountByAllByCondition" resultMap="ClientMap">
  select count(*) from oa_client
  <where >
    <if test="name!=null and name!=''">
    and CLINAME=#{cliname}
    </if>
    <if test="sex!=null and sex!=''">
    and CLISEX=#{clisex}
    </if>
    <if test="username!=null and username!=''">
    and CLIUSERNAME = #{cliusername}
    </if>
    <if test="password!=null and password!=''">
    and CLIPASSWORD = #{clipassword}
    </if>
    <if test="address!=null and address!=''">
    and CLIADDRESS=#{cliaddress}
    </if>
  </where>
  </select>
  <select id="selectCountByAllByConditionWithGoods" resultType="_int">
  select count(*) from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID
  <where >
    <if test="name!=null and name!=''">
    and cli.CLINAME=#{cliname}
    </if>
    <if test="sex!=null and sex!=''">
    and cli.CLISEX=#{clisex}
    </if>
    <if test="username!=null and username!=''">
    and cli.CLIUSERNAME = #{cliusername}
    </if>
    <if test="password!=null and password!=''">
    and cli.CLIPASSWORD = #{clipassword}
    </if>
    <if test="address!=null and address!=''">
    and cli.CLIADDRESS=#{cliaddress}
    </if>
  </where>
  </select>
  
  <select id="selectGoodsByClientFromCart" resultMap="com.wenhuadesert.oa.goods.mapper.IGoodsMapper.GoodsResultMap">
  select * from oa_goods where GOID in(select GOID from oa_cart where CLIID = #{cliid})
  </select>
 </mapper>