<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenhuadesert.oa.client.mapper.IClientMapper">
  
  <resultMap id="ClientMap" type="Client">
    <id property="cliid" column="CLIID"/>
    <result property="cliname" column="CLINAME"/>
    <result property="clisex" column="CLISEX"/>
    <result property="cliusername" column="CLIUSERNAME"/>
    <result property="clipassword" column="CLIPASSWORD"/>
    <result property="cliaddress" column="CLIADDRESS"/>
  </resultMap>
  
  <resultMap id="ClientWithGoodsMap" type="Client" extends="ClientMap">
    <collection property="goods" resultMap="com.wenhuadesert.oa.goods.mapper.IGoodsMapper.GoodsResultMap">

    </collection>
  </resultMap>
  
  <insert id="insert" parameterType="Client" keyProperty="cliid"   keyColumn="CLIID"  useGeneratedKeys="true">
  insert into oa_client (CLIID, CLINAME, CLISEX, CLIUSERNAME, CLIPASSWORD, CLIADDRESS) VALUES (#{cliid},#{cliname},#{clisex},#{cliusername},#{clipassword},#{cliaddress})
  </insert>
  <update id="update">
  update oa_client set CLINAME = #{cliname},CLISEX=#{clisex}, CLIUSERNAME = #{cliusername}, CLIPASSWORD = #{clipassword}, CLIADDRESS=#{cliaddress} where CLIID = #{cliid}
  </update>
  <delete id="delete">
  delete from oa_client where CLIID = #{cliid}
  </delete>
  
  <select id="selectListByAll" resultMap="ClientMap">
  select * from oa_client
  </select>
  <select id="selectListByAllWithGoods" resultMap="ClientWithGoodsMap">
  select cli.*,ca.CACOUNT, go.* from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID
  </select>
  <select id="selectCartListByIdWithGoodsWithPage" resultMap="ClientWithGoodsMap">
  select cli.*,go.*, CACOUNT from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID where ca.CLIID=#{cliid} limit #{start}, #{rows}
  </select>
  <select id="selectListByAllByCondition" resultMap="ClientMap">
  select * from oa_client
  <where >
    <if test="cliname!=null and cliname!=''">
    and CLINAME like #{cliname}
    </if>
    <if test="clisex!=null and clisex!=''">
    and CLISEX like #{clisex}
    </if>
    <if test="cliusername!=null and cliusername!=''">
    and CLIUSERNAME  like #{cliusername}
    </if>
    <if test="clipassword!=null and clipassword!=''">
    and CLIPASSWORD  like #{clipassword}
    </if>
    <if test="cliaddress!=null and cliaddress!=''">
    and CLIADDRESS like #{cliaddress}
    </if>
  </where>
  </select>
  <select id="selectListByAllByConditionWithGoods" resultMap="ClientWithGoodsMap">
  select cli.*,ca.CACOUNT, go.* from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID
  
  <where >
    <if test="cliname!=null and cliname!=''">
    and CLINAME like #{cliname}
    </if>
    <if test="clisex!=null and clisex!=''">
    and CLISEX like #{clisex}
    </if>
    <if test="cliusername!=null and cliusername!=''">
    and CLIUSERNAME  like #{cliusername}
    </if>
    <if test="clipassword!=null and clipassword!=''">
    and CLIPASSWORD  like #{clipassword}
    </if>
    <if test="cliaddress!=null and cliaddress!=''">
    and CLIADDRESS like #{cliaddress}
    </if>
  </where>
  </select>
  <select id="selectListByAllWithPage" resultMap="ClientMap">
  select * from oa_client limit #{start}, #{rows}
  </select>
  <select id="selectListByAllByConditionWithPage" resultMap="ClientMap">
  select * from oa_client
  <where >
    <if test="cliname!=null and cliname!=''">
    and CLINAME like #{cliname}
    </if>
    <if test="clisex!=null and clisex!=''">
    and CLISEX like #{clisex}
    </if>
    <if test="cliusername!=null and cliusername!=''">
    and CLIUSERNAME  like #{cliusername}
    </if>
    <if test="clipassword!=null and clipassword!=''">
    and CLIPASSWORD  like #{clipassword}
    </if>
    <if test="cliaddress!=null and cliaddress!=''">
    and CLIADDRESS like #{cliaddress}
    </if>
  </where>
  limit #{start}, #{rows}
  </select>
  <select id="selectListByAllWithGoodsWithPage" resultMap="ClientWithGoodsMap">
  select cli.*,ca.CACOUNT,  go.* from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID limit #{start}, #{rows}
  </select>
  <select id="selectListByAllByConditionWithGoodsWithPage" resultMap="ClientWithGoodsMap">
  select cli.*,ca.CACOUNT, go.* from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID
  
  <where >
    <if test="cliname!=null and cliname!=''">
    and CLINAME like #{cliname}
    </if>
    <if test="clisex!=null and clisex!=''">
    and CLISEX like #{clisex}
    </if>
    <if test="cliusername!=null and cliusername!=''">
    and CLIUSERNAME  like #{cliusername}
    </if>
    <if test="clipassword!=null and clipassword!=''">
    and CLIPASSWORD  like #{clipassword}
    </if>
    <if test="cliaddress!=null and cliaddress!=''">
    and CLIADDRESS like #{cliaddress}
    </if>
  </where>
  limit #{start}, #{rows}
  </select>
  
  <select id="selectClientById" resultMap="ClientMap">
  select * from oa_client where CLIID = #{cliid}
  </select>
  <select id="selectCountByAll" resultType="_int">
  select count(*) from oa_client
  </select>
  <select id="selectCountByAllWithGoods" resultType="_int">
  select count(*) from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID
  </select>
  <select id="selectCountByAllByCondition" resultType="_int">
  select count(*) from oa_client
  <where >
    <if test="cliname!=null and cliname!=''">
    and CLINAME like #{cliname}
    </if>
    <if test="clisex!=null and clisex!=''">
    and CLISEX like #{clisex}
    </if>
    <if test="cliusername!=null and cliusername!=''">
    and CLIUSERNAME  like #{cliusername}
    </if>
    <if test="clipassword!=null and clipassword!=''">
    and CLIPASSWORD  like #{clipassword}
    </if>
    <if test="cliaddress!=null and cliaddress!=''">
    and CLIADDRESS like #{cliaddress}
    </if>
  </where>
  </select>
  <select id="selectCountByAllByConditionWithGoods" resultType="_int">
  select count(*) from oa_client cli left outer join oa_cart ca on cli.CLIID=ca.CLIID left outer join oa_goods go on ca.GOID=go.GOID
  
  <where >
    <if test="cliname!=null and cliname!=''">
    and CLINAME like #{cliname}
    </if>
    <if test="clisex!=null and clisex!=''">
    and CLISEX like #{clisex}
    </if>
    <if test="cliusername!=null and cliusername!=''">
    and CLIUSERNAME  like #{cliusername}
    </if>
    <if test="clipassword!=null and clipassword!=''">
    and CLIPASSWORD  like #{clipassword}
    </if>
    <if test="cliaddress!=null and cliaddress!=''">
    and CLIADDRESS like #{cliaddress}
    </if>
  </where>
  </select>
  
  <select id="selectGoodsByClientFromCartWithPage" resultMap="com.wenhuadesert.oa.goods.mapper.IGoodsMapper.GoodsResultMap">
  select * from oa_goods where GOID in(select GOID from oa_cart where CLIID = #{cliid})
  limit #{start}, #{rows}
  </select>  
  <delete id="deleteCartByIdAndClient">
  delete from oa_cart where GOID = #{goid} and CLIID = #{cliid}
  </delete>
  <insert id="insertCartByIdAndClient">
    insert into oa_cart (CLIID, GOID ,CACOUNT) values (#{cliid},#{goid}, #{cacount})
  </insert>  
  <update id="updateCartByIdAndClient">
    update oa_cart set CACOUNT like #{cacount} where CLIID like #{cliid} and GOID like #{goid}
  </update>
 </mapper>